/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
/* Nav related Styles */
nav {
  display: flex;
}
.textp {
  color: #fd6e0a;
}
.section-title {
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  color: #181818;
}
.section-desc {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #757575;
}

/* nav related styles */
.nav-title {
  font-weight: 800;
  font-size: 35px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}
.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 25px;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-content {
  max-width: 500px;
}
.banner-greeting {
  font-size: 30px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 50px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-desc {
  margin-right: 30px;
  color: #757575;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}

/* about section styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background-color: #fff8f3;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #757575;
}
.info-desc {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #474747;
}

/* What I do section styles start */
#wspd {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill-desc {
  color: #757575;
}
.skill {
  padding: 30px;
  gap: 24px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

/* Resume section Styles start here */

.resume-column-title {
  font-weight: 700;
  font-size: 23px;
  color: #474747;
}
.resume-container {
  display: flex;
  gap: 50px;
  padding: 0 60px;
}
.resume-item-desc {
  color: #757575;
}

.resume-item-institute {
  color: #757575;
  font-size: 16px;
}
.resume-item-title {
  font-size: 20px;
  font-weight: 700;
}
.resume-column {
  justify-content: space-between;
  align-items: center;
}
.download-cv {
  text-align: center;
  margin-top: 30px;
}

/* footer style */
footer {
  display: flex;
  gap: 100px;
  padding: 130px 200px;
  margin-top: 100px;
  background: #fff8f3;
}

.footer-column {
  width: 50%;
}


.contact input[type="text"], .contact input[type="email"], textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  background: #ffffff;
  border: 0;
  width: 100%;
}
